.form {
  &__label {
    display: flex;
    flex-direction: column;

    &--textarea {
      margin-bottom: 24px;
    }
  }

  &__label-name {
    margin-bottom: 5px;
  }

  &__input,
  &__textarea {
    border-radius: 4px;
    padding: 11px 25px 11px 12px;
    width: 100%;
    border: none;
    outline: transparent;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.42875;
      color: #a8b8c7;
    }
  }

  &__textarea {
    resize: none;
    min-height: 90px;
  }

  &__block {
    display: flex;
    column-gap: 24px;
    margin-bottom: 16px;
  }

  &__approval {
    display: flex;
    align-items: center;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }

  &__text-link {
    text-decoration: underline;
  }

  &__button {
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    color: var(--accent-color);
    margin-right: 40px;
    border-radius: 3px;
    padding: 9px 20px;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      background-color: var(--gray-color);
      color: var(--white-color);
    }
  }

  .just-validate-error-label {
    margin-top: 5px;
  }
}
