<section class="questions">
  <div class="container">
    <h2 class="questions__title section-title">Вопросы-Ответы</h2>

    <ul class="questions__accordion accordion">
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Какие поломки устраняют наши инженеры?
          </span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Как правило, ответственный инженер назначается после согласования условий сотрудничества. Обычно инженер
            выезжает к клиенту на следующий рабочий день.</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Сколько стоит ремонт?
          </span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Сколько стоит техническое обслуживание?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Есть ли гарантия на ремонт и на замененные детали?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Техническое обслуживание какой техники мы производим?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Как давно работает наш сервисный центр?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
      </li>

      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__name">Работаем ли мы с гос.заказчиками?</span>

          <div class="accordion__decor"></div>
        </button>
        <div class="accordion__content text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
