:root {
  // base
  --font-family: 'Roboto', sans-serif;
  --content-width: 1190px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --accent-color: #69b42d;
  --black-color: #232323;
  --gray-color: #a8b8c7;
  --bg-color: #faf9f7;
  --white-color: #fff;
}
